﻿
/*****************************/
/**                         **/
/**       Principais        **/
/**                         **/
/*****************************/

html, body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

#pagina {
    min-height: 100%;
    position: relative;
}

#conteudo {
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 60px;
}

/*h1 com Classe titulo*/
h1.titulo {
    border: none;
    font: normal 32px/1 Tahoma, Geneva, sans-serif;
    color: black;
    text-overflow: ellipsis;
    display: block;
    margin-top: 15px;
    margin-bottom: 25px;
}

footer { /*
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;*/
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Height of the footer */
    background: #6cf;
    color: white;
    text-align: center;
}

.vermelho {
    background-color: darkred!important;
}

/*****************************/
/**                         **/
/**       Formulário        **/
/**                         **/
/*****************************/


/*seleciona todos os elementos COM A CLASSE campo*/
.campo {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #b7b7b7;
    border-radius: 3px;
    font: normal 16px/normal Tahoma, Geneva, sans-serif;
    text-overflow: clip;
    background: rgba(252,252,252,1);
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) inset;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.66);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    width: 200px;
}

/*Variante para campos mais largos*/
.campo_largo{
    width: 300px;
}

/*Botão de submit do formulário*/
.botao {
    display: inline-block;
    cursor: pointer;
    margin: 30px 0px;
    padding: 10px 20px;
    border: 1px solid #018dc4;
    border-radius: 3px;
    font: normal 16px/normal Tahoma, Geneva, sans-serif;
    color: rgba(255,255,255,0.9);
    text-overflow: clip;
    background: #0199d9;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2);
    text-shadow: -1px -1px 0 rgba(15,73,168,0.66);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    width: 180px;
}

/*Seleciona todos os ELEMENTOS label*/
label {
    border: none;
    font: normal 16px/1 Tahoma, Geneva, sans-serif;
    color: black;
    text-overflow: ellipsis;
    display: block;
    margin-top: 15px;
}

/*Seleciona todos os ELEMENTOS span*/
span {
    border: none;
    font: normal 14px/1 Tahoma, Geneva, sans-serif;
    color: black;
    text-overflow: ellipsis;
}

/*****************************/
/**                         **/
/**         Tabela          **/
/**                         **/
/*****************************/


/**Estilo principal da tabela*/
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 96%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*Estilo das linhas e cabeçalho*/
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

/*Estilo para as linhas pares*/
tr:nth-child(even) {
    background-color: #dddddd;
}


/*****************************/
/**                         **/
/**     Menu e Sub-menus    **/
/**                         **/
/*****************************/

.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}


