﻿@using _6_ASP_DataBase.SQL;

@{
    Layout = "~/MasterPage.cshtml";

    //Rece a lsita de todos os utilizadores
    var alunos = SQLaluno.GetAll();
}

<!--Tabela para apresentar todos os utilizadores-->
<table>
    <tr>
        <th>Nome</th>
        <th>CodCivil</th>
        <th>Morada</th>
        <th>DataNascimento</th>
        <th>Ações</th>
    </tr>
    @{
        //Verifica se existem users para apresentar, se a lista não está null
        if (alunos != null)
        {
            //Passa por todos os elementos um a um
            foreach (var a in alunos)
            {
                <!--Imprime as colunas de um user específico-->
                <tr>
                    <td>@a.Nome</td>
                    <td>@a.CodCivil</td>
                    <td>@a.Morada</td>
                    <td>@a.DataNascimento</td>
                    <td>
                        <a href="~/GestaoEntidades/Aluno/Editar_Aluno.cshtml?id=@a.Id">Editar</a>
                        <a href="~/GestaoEntidades/Aluno/Eliminar_aluno.cshtml?id=@a.Id">Eliminar</a>
                    </td>
                </tr>

            }
        }

    }
</table>
