﻿@using _6_ASP_DataBase.SQL;

@{
    Layout = "~/MasterPage.cshtml";

    //aluno selecionado por clicar
    Aluno aluno = new Aluno();

    //Recebe o id caso seja enviado pelo link do endereço
    var id = Request.Params["id"];
    //Verifica se recebeu um id
    if (id != null)
    {
        <!--<h2>ID: @id</h2>-->

        aluno = SQLaluno.Get(int.Parse(id));
    }

    //Verifica se a página foi aberta através de um post, ou seja,
    //  se foi submetido o formulário para criar o user.
    if (IsPost)
    {

        //Recebe todos os paramentros enviados pelo formulário
        string nome = Request["nome"].Trim();
        string codCivil = Request["codCivil"].Trim();
        string morada = Request["morada"].Trim();
        string dataNascimento = Request["dataNascimento"].Trim();
        string niss = Request["niss"].Trim();
        string nif = Request["nif"].Trim();
        string telefoneFixo = Request["telefoneFixo"].Trim();
        string telemovel = Request["telemovel"].Trim();
        string email = Request["email"].Trim();
        string genero = Request["genero"].Trim();
        string nacionalidade = Request["nacionalidade"].Trim();
        string naturalidade = Request["naturalidade"].Trim();
        //Variável indica se todas as validações foram cumpridas,
        // incialmente começa a true até encontrar algo que a faça a false
        var validacoes = true;

        //Verifica se o nome foi introduzido (obrigatório)
        if (nome.IsEmpty())
        {
            <h2>Introduza o Nome!</h2>
            validacoes = false;
        }

        //Verifica se a data de nascimento foi introduzida (obrigatório)
        if (dataNascimento.Trim().IsEmpty())
        {
            <h2>Introduza uma data de nascimento!</h2>
            validacoes = false;
        }

        //Verifica se o género foi introduzido (obrigatório)
        if (genero.Trim().IsEmpty())
        {
            <h2>Introduza o género!</h2>
            validacoes = false;
        }

        //Verifica se todas as validações estão ok
        if (validacoes)
        {
            try
            {
                aluno.Id = Int32.Parse(id);
                aluno.Nome = nome;
                aluno.CodCivil = Int32.Parse(codCivil);
                aluno.Morada = morada;
                aluno.DataNascimento = DateTime.ParseExact(dataNascimento, "yyyy-MM-dd", //"yyyy-MM-dd HH:mm:ss,fff"
                               System.Globalization.CultureInfo.InvariantCulture);
                if (!niss.IsEmpty())
                {
                    aluno.Niss = Int32.Parse(niss);
                }
                if (!nif.IsEmpty())
                {
                    aluno.Nif = Int32.Parse(nif);
                }
                if (!telefoneFixo.IsEmpty())
                {
                    aluno.TelefoneFixo = Int32.Parse(telefoneFixo);
                }
                if (!telemovel.IsEmpty())
                {
                    aluno.Telemovel = Int32.Parse(telemovel);
                }
                aluno.Email = email;
                aluno.Genero = genero == "0"; //genero só pode ser 0 ou 1
                aluno.Nacionalidade = nacionalidade;
                aluno.Naturalidade = naturalidade;

                //Faz a a atualização do aluno após verificar que está tudo validado
                SQLaluno.Set(aluno);

                <h2>Aluno alterado com sucesso!</h2>

            }
            catch (Exception e)
            {
                <h2>Erro na criação do user, mensagem de erro: @e.Message</h2>
            }

        }

    }



}

<h1 class="titulo">Editar Aluno</h1>

<!--Formulário para inserir um utilizador, com as validações (de acordo com o vp)-->
<form action="~/GestaoEntidades/Aluno/Editar_Aluno.cshtml?id=@aluno.Id" method="post">

    <!--Nome - obrigatório-->
    <label for="nome">Nome:</label>
    <br />
    <input type="text" name="nome" class="campo campo_largo" maxlength="50" value="@aluno.Nome" required>
    <br />

    <!--Código Civil - obrigatório-->
    <label for="codCivil">Código Civil:</label>
    <br />
    <input type="number" name="codCivil" class="campo" maxlength="20" min="0" value="@aluno.CodCivil" />
    <br />

    <!--Morada-->
    <label for="morada">Morada:</label>
    <br />
    <input type="text" name="morada" class="campo campo_largo" maxlength="100" value="@aluno.Morada" />
    <br />

    <!--Data Nascimento - obrigatório-->
    <label for="dataNascimento">Data Nascimento:</label>
    <br />
    <input type="date" name="dataNascimento" class="campo" value="@String.Format("{0:yyyy-MM-dd}", aluno.DataNascimento)" required />
    <br />

    <!--Niss-->
    <label for="niss">Niss:</label>
    <br />
    <input type="number" min="0" name="niss" class="campo" value="@aluno.Niss" />
    <br />

    <!--Nif-->
    <label for="nif">Nif:</label>
    <br />
    <input type="number" min="0" name="nif" class="campo" value="@aluno.Nif" />
    <br />

    <!--Telefone Fixo-->
    <label for="telefoneFixo">Telefone Fixo:</label>
    <br />
    <input type="number" min="0" name="telefoneFixo" class="campo" maxlength="30" value="@aluno.TelefoneFixo" />
    <br />

    <!--Telemóvel-->
    <label for="telemovel">Telemóvel:</label>
    <br />
    <input type="number" min="0" name="telemovel" class="campo" maxlength="30" value="@aluno.Telemovel" />
    <br />

    <!--Email-->
    <label for="email">Email:</label>
    <br />
    <input type="email" name="email" class="campo campo_largo" max="100" value="@aluno.Email" />
    <br />

    <!--Genero - obrigatório-->
    <label>Genêro:</label>
    <br />
    @if (aluno.Genero)
    {
        <input type="radio" name="genero" value="0" required checked />
    }
    else
    {
        <input type="radio" name="genero" value="0" required />
    }
    <span>Masculino</span>

    <br />
    @if (!aluno.Genero)
    {
        <input type="radio" name="genero" value="1" checked />
    }
    else
    {
        <input type="radio" name="genero" value="1" />
    }
    <span>Feminino</span>
    <br />

    <!--Nacionalidade-->
    <label for="nacionalidade">Nacionalidade:</label>
    <br />
    <input type="text" name="nacionalidade" class="campo" max="20" value="@aluno.Nacionalidade"/>
    <br />

    <!--Naturalidade-->
    <label for="naturalidade">Naturalidade:</label>
    <br />
    <input type="text" name="naturalidade" class="campo" max="20" value="@aluno.Naturalidade"/>
    <br />

    <!--Submeter formulário (Criar Aluno)-->
    <input type="submit" class="botao" value="Editar Aluno">

</form>