﻿@using _6_ASP_DataBase.SQL;

@{
    Layout = "~/MasterPage.cshtml";

    //Verifica se a página foi aberta através de um post, ou seja,
    //  se foi submetido o formulário para criar o user.
    if (IsPost)
    {

        //Recebe todos os paramentros enviados pelo formulário
        string nome = Request["nome"].Trim();
        string codCivil = Request["codCivil"].Trim();
        string morada = Request["morada"].Trim();
        string dataNascimento = Request["dataNascimento"].Trim();
        string niss = Request["niss"].Trim();
        string nif = Request["nif"].Trim();
        string telefoneFixo = Request["telefoneFixo"].Trim();
        string telemovel = Request["telemovel"].Trim();
        string email = Request["email"].Trim();
        string genero = Request["genero"].Trim();
        string nacionalidade = Request["nacionalidade"].Trim();
        string naturalidade = Request["naturalidade"].Trim();
        //Variável indica se todas as validações foram cumpridas, 
        // incialmente começa a true até encontrar algo que a faça a false
        var validacoes = true;

        //Verifica se o nome foi introduzido (obrigatório)
        if (nome.IsEmpty())
        {
            <h2>Introduza o Nome!</h2>
            validacoes = false;
        }

        //Verifica se a data de nascimento foi introduzida (obrigatório)
        if (dataNascimento.Trim().IsEmpty())
        {
            <h2>Introduza uma data de nascimento!</h2>
            validacoes = false;
        }

        //Verifica se o género foi introduzido (obrigatório)
        if (genero.Trim().IsEmpty())
        {
            <h2>Introduza o género!</h2>
            validacoes = false;
        }

        //Verifica se todas as validações estão ok
        if (validacoes)
        {
            try
            {

                //Cria um ojeto aluno vazio
                var aluno = new Aluno();

                aluno.Nome = nome;
                if (!codCivil.IsEmpty())
                {
                    aluno.CodCivil = Int32.Parse(codCivil);
                }
                aluno.Morada = morada;
                aluno.DataNascimento = DateTime.ParseExact(dataNascimento, "yyyy-MM-dd", //"yyyy-MM-dd HH:mm:ss,fff"
                               System.Globalization.CultureInfo.InvariantCulture);
                if (!niss.IsEmpty())
                {
                    aluno.Niss = Int32.Parse(niss);
                }
                if (!nif.IsEmpty())
                {
                    aluno.Nif = Int32.Parse(nif);
                }
                if (!telefoneFixo.IsEmpty())
                {
                    aluno.TelefoneFixo = Int32.Parse(telefoneFixo);
                }
                if (!telemovel.IsEmpty())
                {
                    aluno.Telemovel = Int32.Parse(telemovel);
                }
                aluno.Email = email;
                aluno.Genero = genero == "0"; //genero só pode ser 0 ou 1
                aluno.Nacionalidade = nacionalidade;
                aluno.Naturalidade = naturalidade;

                //Faz a inserção do aluno após verificar que está tudo validado
                SQLaluno.Add(aluno);

                <h2>Aluno criado com sucesso!</h2>
             
            }
            catch (Exception e)
            {
                <h2>Erro na criação do user, mensagem de erro: @e.Message</h2>
            }

        }

    }



}

<h1 class="titulo">Inserir Aluno</h1>

<!--Formulário para inserir um utilizador, com as validações (de acordo com o vp)-->
<form action="~/GestaoEntidades/Aluno/Inserir_Aluno.cshtml" method="post">

    <!--Nome - obrigatório-->
    <label for="nome">Nome:</label>
    <br />
    <input type="text" name="nome" class="campo campo_largo" maxlength="50" required>
    <br />

    <!--Código Civil - obrigatório-->
    <label for="codCivil">Código Civil:</label>
    <br />
    <input type="number" name="codCivil" class="campo" maxlength="20" min="0" />
    <br />

    <!--Morada-->
    <label for="morada">Morada:</label>
    <br />
    <input type="text" name="morada" class="campo campo_largo" maxlength="100" />
    <br />

    <!--Data Nascimento - obrigatório-->
    <label for="dataNascimento">Data Nascimento:</label>
    <br />
    <input type="date" name="dataNascimento" class="campo" required />
    <br />

    <!--Niss-->
    <label for="niss">Niss:</label>
    <br />
    <input type="number" min="0" name="niss" class="campo" />
    <br />

    <!--Nif-->
    <label for="nif">Nif:</label>
    <br />
    <input type="number" min="0" name="nif" class="campo" />
    <br />

    <!--Telefone Fixo-->
    <label for="telefoneFixo">Telefone Fixo:</label>
    <br />
    <input type="number" min="0" name="telefoneFixo" class="campo" maxlength="30" />
    <br />

    <!--Telemóvel-->
    <label for="telemovel">Telemóvel:</label>
    <br />
    <input type="number" min="0" name="telemovel" class="campo" maxlength="30" />
    <br />

    <!--Email-->
    <label for="email">Email:</label>
    <br />
    <input type="email" name="email" class="campo campo_largo" max="100" />
    <br />

    <!--Genero - obrigatório-->
    <label>Genêro:</label>
    <br />
    <input type="radio" name="genero" value="0" required />
    <span>Masculino</span>
    <br />
    <input type="radio" name="genero" value="1" />
    <span>Feminino</span>
    <br />

    <!--Nacionalidade-->
    <label for="nacionalidade">Nacionalidade:</label>
    <br />
    <input type="text" name="nacionalidade" class="campo" max="20" />
    <br />

    <!--Naturalidade-->
    <label for="naturalidade">Naturalidade:</label>
    <br />
    <input type="text" name="naturalidade" class="campo" max="20" />
    <br />

    <!--Submeter formulário (Criar Aluno)-->
    <input type="submit" class="botao" value="Criar Aluno">

</form>
