﻿@using _6_ASP_DataBase.SQL;

@{
    Layout = null;

    //Abre a conexão inicial
    SQL_Connection.OpenConnection(DMBS.DBMS_MYSQL);
}

<!DOCTYPE html>

<html>
<head>
    <!--Formato de codificação de caracteres-->
    <meta charset="UTF-8">
    <!--Define a largura da página para seguir a largura do ecrã do dispositivo
        (que varia depender da largura do dispositivo).-->
    <meta name="viewport" content="width=device-width" />
    <!--Titulo da página-->
    <title>Gestão Escolar</title>
    <!--Importa os estilos genericos do website-->
    <link rel="stylesheet" type="text/css" href="~/Recursos/Estilos/Estilo_Generico.css">

</head>
<body>

<div id="pagina">
    <!--Menu comum em todas as páginas-->
    <div class="navbar">
        <!--Página principal-->
        <a href="~/Default.cshtml">Home</a>

        <!--Aluno-->
        <div class="dropdown">
            <button class="dropbtn">
                Aluno
                <i class="fa fa-caret-down"></i> <!--Símbolo da seta para baixo-->
            </button>
            <div class="dropdown-content">
                <a href="~/GestaoEntidades/Aluno/Inserir_Aluno.cshtml">Inserir</a>
                <a href="~/GestaoEntidades/Aluno/Consultar_Alunos.cshtml">Consultar</a>
            </div>
        </div>

        <!--Turma-->
        <div class="dropdown">
            <button class="dropbtn">
                Turma
                <i class="fa fa-caret-down"></i> <!--Símbolo da seta para baixo-->
            </button>
            <div class="dropdown-content">
                <a href="#">Inserir</a>
                <a href="#">Consultar</a>
            </div>
        </div>

        <!--Ciclo Letivo-->
        <div class="dropdown">
            <button class="dropbtn">
                Ciclo Letivo
                <i class="fa fa-caret-down"></i> <!--Símbolo da seta para baixo-->
            </button>
            <div class="dropdown-content">
                <a href="#">Inserir</a>
                <a href="#">Consultar</a>
            </div>
        </div>

        <!--Matrícula-->
        <div class="dropdown">
            <button class="dropbtn">
                Matrícula
                <i class="fa fa-caret-down"></i> <!--Símbolo da seta para baixo-->
            </button>
            <div class="dropdown-content">
                <a href="#">Inserir</a>
                <a href="#">Consultar</a>
            </div>
        </div>


    </div>

    <div id="conteudo">
        @RenderBody()
    </div>

    <footer>
        <p>TGPSI 2018-2019</p>
    </footer>
</div>
</body>
</html>
